<div class="container" id="addnum1num4">

    <h1>BASE CONVERTOR</h1>
  <form   [formGroup] = 'form'>
    <div class="form-group">

      <input type="text" class="form-control"
             (ngModelChange) = "decimalChanged(oldValue,newValue = $event)"
             placeholder="decimal" name="decimal" formControlName="decimal">
    </div>
    <div class="form-group">

      <input type="text" class="form-control"  placeholder="binary" name="binary" formControlName="binary">
    </div>
    <div class="form-group">

      <input type="text" class="form-control" placeholder="octal" name="octal" formControlName="octal">
    </div>
    <div class="form-group">

      <input type="text" class="form-control"  placeholder="hexa" name="hexa" formControlName="hexa">
    </div>


  </form>
</div>
